<h2> Font family setting sample site collection </h2>

This page introduces what font family is set by the website of the design you are referring to.

<h3> Mackerel teaching Rensaba course </h3>

<a href="https://sabarentalserver.com/"> Mackerel teaches Rensaba course</a>

<pre>
font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic ProN W3", "Segoe UI", "Meiryo", "Meiryo", sans-serif;
</pre>

<div style = "background: #efe; font-family:'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic ProN','Segoe UI','Meiryo','Meiryo', sans-serif; ">
  The font looks like this.
</div>

<h3> Salwaka </h3>

<a href="https://saruwakakun.com/"> Saruwaka</a>

<pre>
font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Kaku Gothic ProN", YuGothic, "Yu Gothic", Verdana, Meiryo, sans-serif;
</pre>

<div style = "background: #efe; font-family: -apple-system, BlinkMacSystemFont,'Helvetica Neue','Hiragino Kaku Gothic ProN', YuGothic,'Yu Gothic', Verdana, Meiryo, sans-serif">
  The font looks like this.
</div>

<h3> PROUD Toranomon </h3>

<a href="https://www.proud-web.jp/mansion/toranomon/"> PROUD Toranomon</a>

<pre>
font-family: "Times New Roman", Times, "Hiragino Mincho ProN W3", "Hiragino Mincho ProN", "Sawarabi Mincho", "Yu Mincho", "Yu Mincho", YuMincho, "HG Mincho B", serif;
</pre>

<div style = "background: #efe; font-family:'Times New Roman', Times,'Hiragino Mincho ProN',' Hiragino Mincho ProN',' Sawarabi Mincho',' Yu Mincho',' Yu Mincho' , YuMincho,'HG Mincho B', serif; ">
  The font looks like this.
</div>

<h3> Pixta </​​h3>

<a href="https://pixta.co.jp/"> Pixta</a>

<pre>
font-family: -apple-system, BlinkMacSystemFont, Lato, "Noto Sans JP", "Yu Gothic Medium", "Yu Gothic Medium", "Yu Gothic Medium", YuGothic, "Hiragino Kaku Gothic", "Hiragino Kaku Gothic" ProN "," Meiryo ", Meiryo," MS Gothic "," MS P Gothic ", sans-serif;
</pre>

<div style = "background: #efe; font-family: -apple-system, BlinkMacSystemFont, Lato,'Noto Sans JP','Yu Gothic Medium','Yu Gothic Medium','Yu Gothic Medium', YuGothic,' Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic ProN','Meiryo', Meiryo,'MS Gothic','MS PGothic', sans-serif; ">
  The font looks like this.
</div>