<h2> When designing, go back to a 10 year old kid </ h2>

Let's go back to a 10 year old kid when designing.

What kind of self do you have?

<h3> Simple words </ h3>

Can you read a lot of small small letters?

What about short keywords?

<h3> Specific words </ h3>

Do you understand abstract words?

What about concrete words that you can imagine in your head?

<h3> Picture book </ h3>

If it's just letters, don't you feel bored and sleepy?

What if words and images are combined like a picture book?


<h3> You may think too hard now </ h3>

You may be thinking too hard now.

You may be trying to do something complicated and make yourself look good.

Isn't your value the standard?

Now, let's go back to the 10-year-old kid and imagine the world.