<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200328092718.html">
        <span itemprop = "name"> HTML5 </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>
<h2> [HTML5] body tag-where to write HTML content inside </ h2>

HTML content is written inside the <b> body tag </ b>. HTML content is what is actually displayed on the screen.

<pre>
<body>
  HTML content
</ body>
</ pre>

<h3> HTML template </ h3>

<a href="/blog/20200205092826.html"> DOCTYPE declaration </a> and <a href="/blog/20200204092826.html"> html tags </a>, <a href="/blog/20200202092826. The html "> head tag </a> and <b> body tag </ b> are HTML templates.

<pre>
<! DOCTYPE html>
<html>
  <head>
    HTML header
  </ head>
  <body>
    HTML content
  </ body>
</ html>
</ pre>