<h2> [HTML5] Specify the HTML character code </ h2>

To specify the HTML character code, specify charset in the meta tag.

<pre>
<html>
   <head>
     <meta charset = "UTF-8">
   </ head>
</ html>
</ pre>

Specify UTF-8 as the character code. Save the HTML file in UTF-8.

<h3> What is UTF-8? </ H3>

UTF-8 is a Unicode encoding method. Unicode can represent characters from all over the world.

UTF-8 represents characters in 1 to 4 bytes and is backward compatible with ASCII codes.

UTF-8 is a character code that does not need to be aware of byte order when sending and receiving characters over a network.

UTF-8 can be said to be the de facto standard character code on the Web.

The internal representation of the character code in <a href="https://perlzemi.com/"> Perl </a> is UTF-8 or latin-1.