<style>
  li {list-style: none}
</style>
<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200427085612.html">
        <span itemprop = "name"> CSS </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> Pseudo class-Introduction to CSS [CSS3 compatible] </h2>

Pseudo-classes are pseudo-classes that start with ":". It is commonly used in combination with tag names.

<pre>
li: last-child {

}

a: visited {

}
</pre>

We will introduce carefully selected pseudo-classes that are often used in practice.

<ul>
  <li> <a href="/blog/20200428103139.html"> visited pseudo-class</a> </li>
  <li> <a href="/blog/20200418150524.html"> hover pseudo-class</a> </li>
  <li> <a href="/blog/20200416134429.html"> first-child pseudo-class</a> </li>
  <li> <a href="/blog/20200415134429.html"> last-child pseudo-class</a> </li>
  <li> <a href="/blog/20200430135327.html"> nth-child pseudo-class</a> </li>
</ul>

<h3> List of all pseudo-classes </h3>

A list of all pseudo-classes can be found on MDN web docs.

<a href="https://developer.mozilla.org/ja/docs/Web/CSS/Pseudo-classes"> Pseudo-classes --MDN web docs</a>