<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200328092718.html">
        <span itemprop = "name"> HTML5 </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>
<h2> [HTML5] ol tag-Create a numbered list </ h2>

You can use the ol tag to create a numbered list.

<pre>
<ol> </ ol>
</ pre>

To add an item to the numbered list, place the <a href="/blog/20200306145137.html"> li tag </a> inside the <b> ol tag </ b>.

<ol>
  <li> Item 1 </ li>
  <li> Item 2 </ li>
  <li> Item 3 </ li>
</ ol>

<pre>
<ol>
  <li> Item 1 </ li>
  <li> Item 2 </ li>
  <li> Item 3 </ li>
</ ol>
</ pre>

For details on how to create a list, refer to the following articles.

<a href="/blog/20200327122424.html"> Master how to create a list </a>