<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200427085612.html">
        <span itemprop = "name"> CSS </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200426085612.html">
        <span itemprop = "name"> selector </span>
     </a>
      <meta itemprop = "position" content = "3" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> Class Selector-Introduction to CSS [CSS3 compatible] </h2>

The <b> class selector </b> is for specifying the class of the element to which the style sheet (CSS) applies.

The class selector starts with "." And specifies the class name of the element you want to apply. The ".menu" part is the class selector.

<pre>
.menu {
  color: red;
}
</pre>

Let's use the class selector.

<style>
  .menu {
    color: red;
  }
</style>

<div class = "menu">
  Grilled meat
</div>

<pre>
<style>
.menu {
  color: red;
}
</style>

<div class = "menu">
  Grilled meat
</div>
</pre>

<h3> Combination of class selector and element selector </h3>

You can also combine a class selector with a <a href="/blog/20200421134429.html"> element selector</a>.

<style>
  div.menu {
    color: red;
  }
</style>

<div class = "menu">
  Grilled meat
</div>

<pre>
<style>
  div.menu {
    color: red;
  }
</style>

<div class = "menu">
  Grilled meat
</div>
</pre>

<h3> Should I use a class selector or an ID selector? </h3>

Basically, it's best to use only class selectors in stylesheets (CSS).

The <a href="/blog/20200423134429.html"> ID selector</a> requires the element to be unique, while the class selector applies to multiple elements with the same class name. It's possible and flexible.