<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200427085612.html">
        <span itemprop = "name"> CSS </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200429173137.html">
        <span itemprop = "name"> Pseudo class </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> hover pseudo-class-Introduction to CSS [CSS3 compatible] </ h2>

The hover pseudo-class is a pseudo-class for setting the style when hovering over an element. Used in combination with <a href="/blog/20200222082049.html"> a tag </a>.

<style>
  a: hover {
    opacity: 0.8;
  }
</ style>

<a href="/"> Hover glowing link </a>

<pre>
<style>
  a: hover {
    opacity: 0.8;
  }
</ style>

<a href="/"> Hover glowing link </a>
</ pre>

Hover your mouse over it and it will glow.