<h2> Can the character be read by a 75-year-old elderly person? </ H2>

Can the character be read by a 75-year-old elderly person?

The function of the human eye declines as we get older.

"That's why I should expand it !? This one is cooler !!!"

Stop for a moment and stop!

<h3> Experience the vision of the elderly </ h3>

Let's experience the elderly.

Get up a little and look at the screen at a distance of 2 meters from your computer.

The letters are getting smaller and smaller.

Can you read that letter?

Do you get the information in your eyes?

Would you like to have your eyes screaming?

Let's be aware of universal design that is easy for anyone to read.