<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200427085612.html">
        <span itemprop = "name"> CSS </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> Load stylesheet (CSS) --Introduction to CSS [CSS3 compatible] </h2>

Let's load the style sheet (CSS). The style sheet (CSS) is loaded with <a href="/blog/20200202092826.html"> HTML header</a>.

<pre>
<link rel = "stylesheet" type = "text / css" href = "/ css / default.css">
</pre>

The above sample is a sample to read the style sheet (CSS) when "default.css" is placed in the directory "css" of the document root.