<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200427085612.html">
        <span itemprop = "name"> CSS </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200426085612.html">
        <span itemprop = "name"> selector </ span>
      </a>
      <meta itemprop = "position" content = "3" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> Brother Selector-Introduction to CSS [CSS3 compatible] </ h2>

A sibling selector is a "+" or "~" that connects two selectors and specifies the second element that is a child of the same parent element and immediately follows the first element.

If it is "+", specify the element behind it, and if it is "~", it does not need to be adjacent and specify the element that appears behind.

I will explain only in the case of "+".

<style>
  img + p {
    color: red;
  }
</ style>

<div>
  <img src = "/ images / webdesign-logo.png">
  <p>
    Sibling selector
  </ p>
</ div>

<pre>
<style>
  img + p {
    color: red;
  }
</ style>

<div>
  <img src = "/ images / webdesign-logo.png">
  <p>
    Sibling selector
  </ p>
</ div>
</ pre>

Notice that the stylesheet (CSS) is applied to the sibling element p immediately after img.

<h3> Brother selector sample </ h3>

When do you actually use the sibling selector?

In a practical example, the original browser-independent <a href="/blog/20200323095002.html"> checkbox </a>, <a href="/blog/20200316094150.html"> radio button </a> Used when making.

There is a sample at the link destination.