<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200427085612.html">
        <span itemprop = "name"> CSS </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> color --Set font color --Introduction to CSS [CSS3 compatible] </h2>

To <b> set the font color </b>, set "color" in the style sheet (CSS).

<div style = "color: red;"> Specify by color name red </div>

<div style = "color: # 3af;"> RGB hexadecimal 3 digits # 3af </div>

<div style = "color: # f5b547;"> RGB hexadecimal 6 digits # f5b547 </div>

<pre>
<div style = "color: red;"> Specify by color name red </div>

<div style = "color: # 3af;"> RGB hexadecimal 3 digits # 3af </div>

<div style = "color: # f5b547;"> RGB hexadecimal 6 digits # f5b547 </div>
</pre>

RGB is an abbreviation for Red, Green, and Blue, and represents the intensity of red, green, and blue.

Hexadecimal is a number expressed by 16 characters of "0-9a-f". f is the largest.

For a 3-digit hexadecimal number, "# 3af" has the same meaning as "# 33aaff".

Colors are explained in detail in the following articles.

<a href="/blog/20200405103319.html"> Let's understand how to specify the color</a>