<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200427085612.html">
        <span itemprop = "name"> CSS </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> text-align --Left-justified, center-justified, right-justified text --Introduction to CSS [CSS3 compatible] </ h2>

Set <b> text-align </ b> in the stylesheet (CSS) to align the text left, center, and right.

<div style = "text-align: left; background: #eef;">
  Left justified
</ div>
<br>
<div style = "text-align: center; background: #eef;">
  Centered
</ div>
<br>
<div style = "text-align: right; background: #eef;">
  Right justified
</ div>

<pre>
<div style = "text-align: left; background: #eef;">
  Left justified
</ div>
<br>
<div style = "text-align: center; background: #eef;">
  Centered
</ div>
<br>
<div style = "text-align: right; background: #eef;">
  Right justified
</ div>
</ pre>

<h3> Elements left-justified, center-justified, right-justified </ h3>

If the element is an inline element or an inline block element, you can use <b> text-align </ b> to left-justify, center-justify, and right-justify.

<h4> Inline element-img tag </ h4>

The img tag, which is an inline element, can be left-aligned, center-aligned, and right-aligned with <b> text-align </ b>.

<div style = "text-align: center; background: #eef;">
  <img src = "/ images / webdesign-logo.png">
</ div>

<pre>
<div style = "text-align: center; background: #eef;">
  <img src = "/ images / webdesign-logo.png">
</ div>
</ pre>

<h4> Inline block element --button tag </ h4>

The button tag, which is an inline block element, can be left-aligned, center-aligned, and right-aligned with <b> text-align </ b>.

<div style = "text-align: center; background: #eef;">
  <button> button </ button>
</ div>

<pre>
<div style = "text-align: center; background: #eef;">
  <button> button </ button>
</ div>
</ pre>