<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200427085612.html">
        <span itemprop = "name"> CSS </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200426085612.html">
        <span itemprop = "name"> selector </span>
     </a>
      <meta itemprop = "position" content = "3" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> ID Selector-Introduction to CSS [CSS3 compatible] </h2>

The <b> ID selector </b> is for specifying the ID of the element to which the style sheet (CSS) is applied.

The ID selector starts with "#" and specifies the ID name of the element you want to apply. The "#menu" part is the ID selector.

<pre>
#menu {
  color: red;
}
</pre>

Let's use the ID selector.

<style>
  #menu {
    color: red;
  }
</style>

<div id = "menu">
  Grilled meat
</div>

<pre>
<style>
  #menu {
    color: red;
  }
</style>

<div id = "menu">
  Grilled meat
</div>
</pre>

<h3> Should I use the ID selector or the class selector? </H3>

Basically, it is recommended to use only <a href="/blog/20200422134429.html"> class selector</a> in the stylesheet (CSS).

Identity selectors require elements to be unique, while class selectors are flexible and can be applied to multiple elements with the same class name.