<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200427085612.html">
        <span itemprop = "name"> CSS </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> font-weight --Make characters bold --Introduction to CSS [CSS3 compatible] </ h2>

To make the <b> characters bold </ b>, specify "font-weight: bold;" in the stylesheet (CSS).

<span style = "font-weight: bold;"> bold </ span>

<pre>
<span style = "font-weight: bold;"> bold </ span>
</ pre>

<h3> b What is the proper use of tags and style sheets (CSS) in bold? </ H3>

You can also use the <a href="/blog/20200221093554.html"> b tag </a> to make the text bold. If you want to make only certain characters bold in the text, the b tag is easy.

Hello, welcome, <b> all-you-can-eat </ b>.

<pre>
Hello, welcome, <b> all-you-can-eat </ b>.
</ pre>

If it is surrounded by <a href="/blog/20200226082049.html"> div tag </a> etc. and other settings are also made in the style sheet (CSS), "font-weight: bold;" is selected. If you specify it, you can do it together.

<style>
  .foo {
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #ddd;
  }
</ style>

<div class = "foo">
  Hello
</ div>

<pre>
<style>
  .foo {
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #ddd;
  }
</ style>

<div class = "foo">
  Hello
</ div>
</ pre>