<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200328092718.html">
        <span itemprop = "name"> HTML5 </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>
<h2> [HTML5] th tag --Create table items </ h2>

You can create a table item heading with the <b> th tag </ b>.

<pre>
<th> Item heading </ th>
</ pre>

In general, place tr and td tags under the table tag to create columns and items.

<style>
  table {
    border-collapse: collapse;
  }

  table th {
    border: 1px solid #ddd;
    padding: 7px;
    background: #eee;
    font-weight: bold;
  }

  table td {
    border: 1px solid #ddd;
    padding: 7px;
  }
</ style>
<table>
  <tr>
    <th> 1 row 1 column heading </ th> <th> 1 row 2 column heading </ th> <th> 1 row 3 column heading </ th>
  </ tr>
  <tr>
    <td> 2 rows and 1 column </ td> <td> 2 rows and 2 columns </ td> <td> 2 rows and 3 columns </ td>
  </ tr>
</ table>

<pre>
<style>
  table {
    border-collapse: collapse;
  }

  table th {
    border: 1px solid #ddd;
    padding: 7px;
    background: #eee;
    font-weight: bold;
  }

  table td {
    border: 1px solid #ddd;
    padding: 7px;
  }
</ style>
<table>
  <tr>
    <th> 1 row 1 column heading </ th> <th> 1 row 2 column heading </ th> <th> 1 row 3 column heading </ th>
  </ tr>
  <tr>
    <td> 2 rows and 1 column </ td> <td> 2 rows and 2 columns </ td> <td> 2 rows and 3 columns </ td>
  </ tr>
</ table>
</ pre>

Please refer to the following articles for the specific method of creating the table.

<a href="/blog/20200324095249.html"> Master how to create a table </a>