<div class = "bread">
   <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
     <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
       <a itemprop="item" href="/">
         <span itemprop = "name"> Web design </ span>
       </a>
       <meta itemprop = "position" content = "1" />
     </ li>
     <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
       <a itemprop="item" href="/blog/20200328092718.html">
         <span itemprop = "name"> HTML5 </ span>
       </a>
       <meta itemprop = "position" content = "2" />
     </ li>
     <li>
       here
     </ li>
   </ ul>
</ div>
<h2> HTML5 DOCTYPE declaration </ h2>

In <b> HTML5 </ b>, the beginning of the HTML file is the following <b> DOCTYPE declaration </ b>.

<pre>
<! DOCTYPE html>
</ pre>

This is said to have no particular meaning in current browsers, but let's write it to make it clear that it's written in HTML5.