<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200328092718.html">
        <span itemprop = "name"> HTML5 </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>
<h2> [HTML5] b tag-make characters bold </ h2>

You can use the b tag to make characters bold.

<b> Bold </ b>

<pre>
<b> Bold </ b>
</ pre>

Is the <h3> b tag effective for SEO measures? </ H3>

This is a difficult question.

Imagine that the b tag as an algorithm for HTML analysis is not the target of evaluation.

However, google search is subject to evaluation when people see a page and are satisfied with the page.

Google search is checking which page the user is actually satisfied with by changing the ranking of the search results little by little.

Since the b tag is in bold, it has the effect of making it easier to see.

I think it's a good idea to use it so that it is easy to understand when viewed from the human eye.

<h3> Shouldn't we just use CSS to decorate the text? </ H3>

There is also the idea that only CSS should be used to decorate the text.

<pre>
<span style = "font-weight: bold"> bold </ span>
</ pre>

On the other hand, in reality, the b tag sets this CSS in all browsers. Also, if you want to emphasize only this character, it is frequently used.

The Perl seminar's introduction to HTML and CSS aims to be realistic, short and concise.