<style>
  li {list-style: none}
</style>

<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> Introduction to CSS-Introduction to CSS3-compatible stylesheets </h2>

Introducing a portable CSS (style sheet) that can be used within the scope of CSS3 and used in practice.

<h4> CSS basics </h4>

<ul>
  <li> <a href="/blog/20200322181042.html"> Read CSS</a> </li>
  <li> <a href="/blog/20200413134139.html"> CSS character code</a> </li>
  <li> <a href="/blog/20200125070617.html"> Sample default CSS settings</a> </li>
</ul>

<h4> CSS settings </h4>

<ul>
  <li> <a href="/blog/20200331101526.html"> font-weight --make the text bold</a> </li>
  <li> <a href="/blog/20200227082258.html"> font-size --Set font size</a> </li>
  <li> <a href="/blog/20200401155527.html"> letter-spacing --Set character spacing</a> </li>
  <li> <a href="/blog/20200402104440.html"> color --Set the font color</a> </li>
  <li> <a href="/blog/20200403091231.html"> opacity --Set opacity</a> </li>
  <li> <a href="/blog/20200406103319.html"> border --Set the border</a> </li>
  <li> <a href="/blog/20200407164843.html"> border-radius --Round the corners of the border</a> </li>
  <li> <a href="/blog/20200408111754.html"> padding --Set padding</a> </li>
  <li> <a href="/blog/20200409094600.html"> margin --Set margin</a> </li>
  <li> <a href="/blog/20200410090714.html"> text-align --Text left justified, center justified, right justified</a> </li>
  <li> <a href="/blog/20200414081654.html"> box-sizing --Border width / padding fits inside block width / height</a> </li>
  <li> <a href="/blog/20200619100034.html"> white-space --Introduction to CSS [CSS3 compatible]</a> </li>
</ul>

<h4> Pseudo class </h4>

<ul>
  <li> <a href="/blog/20200429173137.html"> Pseudo class</a> </li>
</ul>

<h4> Selector </h4>

<ul>
  <li> <a href="/blog/20200426085612.html"> Selector</a> </li>
</ul>

<h4> CSS technique </h4>

<ul>
  <li> <a href="/blog/20200620100034.html"> How to wrap with pre?</a> </li>
  <li> <a href="/blog/20200811081538.html"> Wrap in character units word-break: break-all</a> </li>
</ul>