<h2> Purpose of introduction to Perl seminar HTML / CSS </ h2>

The purpose is to create a course called "Introduction to Perl Seminar HTML / CSS".

<h3> As a basis for beginners to learn how to study web design </ h3>

The Perl seminar, an introduction to HTML and CSS, is written as a basis for beginners to learn how to study web design.

The purpose is to have beginners use it as a basis for studying web design.

<h3> Simple HTML and CSS with abundant samples that follow the trends of web design </ h3>

The Perl Seminar HTML / CSS Primer is written for those who want to write HTML and CSS simply while following the trend of web design.

There is a lot of information on the web, but some people are wondering what to do with a simple way to write while following the trend of 2020, because there is too much to know what to learn. prize.

The purpose is for such people to be able to learn web design efficiently while looking at the sample.

<h3> Perl Club Web Design Course </ h3>

The Perl Seminar HTML / CSS Primer is created as a course of <a href="https://perlclub.net/"> Perl Club </a>.

The Perl Club is primarily targeted at users who develop web systems in Perl.

The purpose is for users who are developing web systems in Perl to efficiently learn the basics of web design.

<h3> Basic course for those who want to qualify for web design </ h3>

You may want to get a web design qualification and get a job at a web design company.

The purpose is for such people to efficiently learn the basics of web design.