<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200328092718.html">
        <span itemprop = "name"> HTML5 </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>
<h2> [HTML5] script tag --Write and execute JavaScript </ h2>

You can write and execute JavaScript using the <b> script tag </ b>.

<script src = "https://code.jquery.com/jquery-3.4.1.min.js"> </ script>
<script>
  
  $ (function () {
    $ ('.js-hello'). on ('click', function () {
      alert ('Hello');
    });
  });
</ script>

<div>
  <button class = "js-hello"> Run script </ button>
</ div>

<pre>
<script src = "https://code.jquery.com/jquery-3.4.1.min.js"> </ script>
<script>
  
  $ (function () {
    $ ('.js-hello'). on ('click', function () {
      alert ('Hello');
    });
  });
</ script>

<div>
  <button class = "js-hello"> Run script </ button>
</ div>
</ pre>

Using JavaScript and <a href="/blog/20200312095039.html"> jQuery </a>, "Hello" is displayed when the button is pressed.

<h3> Load an external JavaScript file </ h3>

You can use the <b> src attribute </ b> of the script tag to load an external JavaScript file.

<pre>
<script src = "/ js / myapi.js"> </ script>
<script src = "https://code.jquery.com/jquery-3.4.1.min.js"> </ script>
</ pre>

Either a local file or a file on the Internet is fine.