<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200328092718.html">
        <span itemprop = "name"> HTML5 </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>
<h2> [HTML5] html tag-where to write HTML inside </ h2>

HTML is written inside the <b> html tag </ b>.

<pre>
<html>
  HTML content
</ html>
</ pre>

<h3> HTML template </ h3>

<a href="/blog/20200205092826.html"> DOCTYPE declaration </a> and <b> html tag </ b>, <a href="/blog/20200202092826.html"> head tag </a>, The <a href="/blog/20200203092826.html"> body tag </a> is the HTML template.

<pre>
<! DOCTYPE html>
<html>
  <head>
    HTML header
  </ head>
  <body>
    HTML content
  </ body>
</ html>
</ pre>