<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200427085612.html">
        <span itemprop = "name"> CSS </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> border-radius --Round the corners of the border --Introduction to CSS [CSS3 compatible] </h2>

To round the corners of the border, set <b> border-radius </b> in the stylesheet (CSS). The size to set is the radius of the rounded corners.

<div style = "border-radius: 10px; border: 1px solid #ddd;">
  Rounded border
</div>

<pre>
<div style = "border-radius: 10px; border: 1px solid #ddd;">
  Rounded border
</div>
</pre>

<h3> Effect of rounding corners </h3>

You can express softness by rounding the corners. You can use it to enclose content or create buttons.

<h3> Set rounded corners at the upper left, upper right, lower right, and lower left positions </h3>

You can also use border-radius to set rounded corners at the top left, top right, bottom right, and bottom left positions. The order of designation is upper left, upper right, lower right, lower left.

<div style = "border-radius: 10px 10px 10px 10px; border: 1px solid #ddd;">
  Border with rounded corners Designated at four corners
</div>

<pre>
<div style = "border-radius: 10px 10px 10px 10px; border: 1px solid #ddd;">
  Border with rounded corners Designated at four corners
</div>
</pre>

<h4> Set rounded corners only on the upper side </h4>

Let's set rounded corners only on the upper side.

<div style = "border-radius: 10px 10px 0 0; border: 1px solid #ddd;">
  Rounded corners only on the upper side
</div>

<pre>
<div style = "border-radius: 10px 10px 0 0; border: 1px solid #ddd;">
  Rounded corners only on the upper side
</div>
</pre>

<h4> Set rounded corners only on the bottom side </h4>

Let's set rounded corners only on the bottom side.

<div style = "border-radius: 0 0 10px 10px; border: 1px solid #ddd;">
  Rounded corners only on the bottom
</div>

<pre>
<div style = "border-radius: 0 0 10px 10px; border: 1px solid #ddd;">
  Rounded corners only on the bottom
</div>
</pre>

<h3> border-radius applies even if there is no border </h3>

border-radius contains the name border, but it applies even if there is no border. Let's set the background color and specify border-radius.

<div style = "border-radius: 10px; background: #eef">
  Applies even if there is no border
</div>

<pre>
<div style = "border-radius: 10px; background: #eef">
  Applies even if there is no border
</div>
</pre>