<h2> Let's understand how to specify the color </h2>

I will explain how to specify <b> color </b> in HTML.

<h3> Color name </h3>

Here are some color names.

<pre>
color: red;
color: blue;
color: green;
color: white;
color: black;
</pre>

It's easy to specify a color name, but in principle, you shouldn't use it in web design.

Basically, it is recommended to use RGB color code.

I feel that white is relatively used in some situations.

For black, it is recommended to use a color code because it is often fine-tuned to adjust the darkness.

<h3> Color code </h3>

I will briefly explain the color code.

<h4> White is #ffffff </h4>

When the intensity of red, green and blue is maximized, it becomes "white".

<div style = "background: green; color: #ffffff">
  White
</div>

<pre>
<div style = "background: green; color: #ffffff">
  White
</div>
</pre>

You can easily use "#fff".

<h4> Black is # 000000 </h4>

When the intensity of red, green and blue is all minimized, it becomes "black".

<div style = "color: # 000000">
  Black
</div>

<pre>
<div style = "color: # 000000">
  Black
</div>
</pre>

You can easily use "# 000".

<h4> The primary color red is # ff0000 </h4>

When the intensity of red is maximum and the others are minimum, it becomes "primary red".

<div style = "color: # ff0000">
  Primary color red
</div>

<pre>
<div style = "color: # ff0000">
  Primary color red
</div>
</pre>

You can easily use "# f00".

<h4> The primary color green is # ff0000 </h4>

When the intensity of green is maximum and the others are minimum, it becomes "primary green".

<div style = "color: # 00ff00">
  Primary color green
</div>

<pre>
<div style = "color: # 00ff00">
  Primary color green
</div>
</pre>

You can easily use "# 0f0".

<h4> The primary color blue is # 0000ff </h4>

When the intensity of blue is maximum and the others are minimum, it becomes "primary blue".

<div style = "color: # 0000ff">
  Primary color blue
</div>

<pre>
<div style = "color: # 0000ff">
  Primary color blue
</div>
</pre>

You can easily use "# 00f".

<h4> Color is expressed by a combination of red, green and blue intensities </h4>

Color is represented by a combination of red, green and blue intensities. First of all, this is the basics, so let's remember.

<h4> How to get the color code? </H4>

It's easiest to use a google color swatch for the color code.

<a href="https://www.google.com/search?safe=active&sxsrf=ALeKk03SFrRaguPaODkZF3koDfVqIuag8w%3A1585792636413&ei=fEaFXpvqGI6zmAW5lKn4DA&q=%E8%89%B2%E8%A6%%B2%E8%A6%8B%E6%9C%AC & gs_lcp = CgZwc3ktYWIQAzIECAAQRzIECAAQRzIECAAQRzIECAAQRzIECAAQR1AAWABgs_gtaABwAngAgAEAiAEAkgEAmAEAqgEHZ3dzLXdpeg & sclient = psy-ab & ved = 0ahUKEwibmJ_20cjoAhWOGaYKHTlKCs8Q4dUDCAs & uact = 5 "> google swatch</a>

Let's see what kind of color becomes what kind of color code.

Let's see what the strength of red, green and blue is.