<h2> How to set diagonal stripes as background color </ h2>

This is a method to set the diagonal stripe as the background color. You can set the diagonal stripes as the background color by creating a large diagonal gradient that repeats twice and setting the background size to a small value.

<h3> CSS to set diagonal stripes as background color </ h3>

CSS that sets diagonal stripes as the background color. The stripe width is 1px.

<div>
  <style>
    .naname_stripe {
      background: repeating-linear-gradient (-45deg, #fff 0%, #fff 25%, #DBEDFF 25%, #DBEDFF 50%);
      background-size: 4px 4px;
    }
  </ style>
  <div class = "naname_stripe">
    Diagonal stripe background color
  </ div>
</ div>

<pre>
background: repeating-linear-gradient (-45deg, #fff 0%, #fff 25%, #DBEDFF 25%, #DBEDFF 50%);
background-size: 4px 4px;
</ pre>

<h3> How to change the stripe color? </ H3>

#fff is white at intervals. Let's change the two "#DBEDFF" after that.

<div>
  <style>
    .naname_stripe_red {
      background: repeating-linear-gradient (-45deg, #fff 0%, #fff 25%, red 25%, red 50%);
      background-size: 4px 4px;
    }
  </ style>
  <div class = "naname_stripe_red">
    Diagonal stripe background color
  </ div>
</ div>

<pre>
background: repeating-linear-gradient (-45deg, #fff 0%, #fff 25%, red 25%, red 50%);
background-size: 4px 4px;
</ pre>

<h3> How to change the stripe width </ h3>

It can be adjusted by using background-size.

<div>
  <style>
    .naname_stripe_8px {
      background: repeating-linear-gradient (-45deg, #fff 0%, #fff 25%, #DBEDFF 25%, #DBEDFF 50%);
      background-size: 8px 8px;
    }
  </ style>
  <div class = "naname_stripe_8px">
    Diagonal stripe background color-stripes 2px
  </ div>
</ div>

<pre>
background: repeating-linear-gradient (-45deg, #fff 0%, #fff 25%, #DBEDFF 25%, #DBEDFF 50%);
background-size: 8px 8px;
</ pre>

<div>
  <style>
    .naname_stripe_16px {
      background: repeating-linear-gradient (-45deg, #fff 0%, #fff 25%, #DBEDFF 25%, #DBEDFF 50%);
      background-size: 16px 16px;
    }
  </ style>
  <div class = "naname_stripe_16px">
    Diagonal stripe background color-stripes 4px
  </ div>
</ div>

<pre>
background: repeating-linear-gradient (-45deg, #fff 0%, #fff 25%, #DBEDFF 25%, #DBEDFF 50%);
background-size: 16px 16px;
</ pre>

<h3> What happens if I don't specify the background size? </ H3>

It will be like this.

<div>
  <style>
    .naname_stripe_nosize {
      background: repeating-linear-gradient (-45deg, #fff 0%, #fff 25%, #DBEDFF 25%, #DBEDFF 50%);
    }
  </ style>
  <div class = "naname_stripe_nosize">
    No background size
  </ div>
</ div>

<pre>
background: repeating-linear-gradient (-45deg, #fff 0%, #fff 25%, #DBEDFF 25%, #DBEDFF 50%);
</ pre>

If you specify 4px, the stripe width will be 1px because you are trying to put such a background in a 4px square.