<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200427085612.html">
        <span itemprop = "name"> CSS </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200426085612.html">
        <span itemprop = "name"> selector </ span>
      </a>
      <meta itemprop = "position" content = "3" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> * --Universal selector --Introduction to CSS [CSS3 compatible] </ h2>

The universal selector represented by "*" is a selector that applies to all tags. This value is set as the default for all tags such as div, p, and a tags.

<pre>
* {{
  margin: 0;
  padding: 0;
}
</ pre>

The universal selector is useful for <a href="/blog/20200125070617.html"> setting stylesheet (CSS) defaults </a>.