<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200328092718.html">
        <span itemprop = "name"> HTML5 </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>
<h2> [HTML5] Heading tag --h1, h2, h3, h4, h5, h6 </ h2>

The HTML heading tags are h1, h2, h3, h4, h5, h6. Heading tags are used when writing headings.

<pre>
<h1> Heading 1 </ h1>

<h2> Heading 2 </ h2>

<h3> Heading 3 </ h3>

<h4> Heading 4 </ h4>

<h5> Heading 5 </ h5>

<h6> Heading 6 </ h6>
</ pre>

This is the heading set in the introduction to HTML / CSS.

<div style = "background: #eee; padding: 10px;">
<h1> Heading 1 </ h1>

<h2> Heading 2 </ h2>

<h3> Heading 3 </ h3>

<h4> Heading 4 </ h4>

<h5> Heading 5 </ h5>

<h6> Heading 6 </ h6>
</ div>



<h3> The main heading "h1" is used for the site title or page title </ h3>

h1 is used for site titles or page titles.

As an SEO measure, if your site title contains a theme, it's a good idea to use h1 for your site title.

<h4> If the site title has a theme </ h4>

For example, if the site title is "Tomato Kingdom", use Tomato Kingdom for h1.

<pre>
<h1> Tomato Kingdom </ h1>
</ pre>

<h4> If the site title is a brand name </ h4>

For example, if your site title is "Pico Miko", just enclose it in a div tag. Use h1 for the page title "How to make delicious spaghetti".

<pre>
<div> Pico Miko </ div>
<h1> How to make delicious spaghetti </ h1>
</ pre>

<h3> h2, h3, h4, h5, h6 are used for subheadings </ h3>

Use h2, h3, h4, h5, h6 as subheadings. With a moderate amount of subheadings, it's easier to see what's on the page.

Search engines evaluate by combining "subheadings and body". Write the theme in the subheading in the text.

The subheading should have an appropriate parent-child relationship or relationship with the main heading.

<pre>
<h1> Tomato Kingdom </ h1>

In the Kingdom of Tomatoes, we talk thoroughly about the charm of tomatoes.

<h2> Nutritional value of tomatoes </ h2>

Tomatoes are green and yellow vegetables and are nutritious. ...

<h2> Tomato production area </ h2>

The number one tomato producing area is XX prefecture. ...
</ pre>