<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200328092718.html">
        <span itemprop = "name"> HTML5 </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>
<h2> [HTML5] style tag --Write a style sheet (CSS) </h2>

You can use <b> style tags </b> to write style sheets (CSS) in HTML.

<style>
  h5 {
    color: red;
  }
</style>

<pre>
<style>
  h5 {
    color: red;
  }
</style>
</pre>

<h5> h5 tag-Heading 5 </h5>

<h3> Can I write a style using the style tag in HTML? </H3>

You want to ask, "Can I write a style using the style tag in HTML?"

<h4> In principle, it is better to read a style sheet (CSS) file </h4>

As a general rule, it is best practice to <a href="/blog/20200322181042.html"> read a stylesheet (CSS) file</a>. The basic stylesheet settings for your website should be in a Stahlsheet (CSS) file like "/css/default.css" and put it in the <a href="/blog/20200202092826.html"> HTML header.</a> to load.

<pre>
<link rel = "stylesheet" type = "text / css" href = "/ css / default.css">
</pre>

<h4> When writing a style for trial </h4>

When trying out and writing styles, I often use the sytle tag. The stylesheet (CSS) file is in a different directory, so it's a hassle to open.

If you just want to give it a try, what happens if this happens, you often use the style tag.

<h4> If you want to change the style programmatically </h4>

<a href="https://en.webapp.perlzemi.com/"> While doing web system development</a>, sometimes <a href="https://en.perlzemi.com/" You may want to change the style itself programmatically by conditional branching with blog / 20161023147731.html "> if statement</a>.

In such a case, you can use the style tag to set the condition only if the condition is satisfied.

However, this is only rare, so in principle, write everything in a stylesheet (CSS) file.