<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200328092718.html">
        <span itemprop = "name"> HTML5 </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>
<h2> [HTML5] span tag --Create inline element </h2>

The span tag creates an inline element.

<span> Inline element </span>

<pre>
<span> Inline element </span>
</pre>

<h3> The width of the inline element is the width of the inner element </h3>

The width of the inline element is the width of the inner element.

This is <span style = "background: pink;"> Today's dinner </span>.

<pre>
This is <span style = "background: pink;"> Today's dinner </span>.
</pre>

You cannot specify the width or height of an inline element. Also, you cannot specify the upper and lower margins. These two are the big differences from <a href="/blog/20200226082049.html"> block elements</a>.

<h3> When do you use the span tag? </h3>

You want to change only a part of the font size and color.

<h4> Phone number </h4>

If only Tel. Is small, the phone number is large and you want to color it.

Tel. <span style = "color: green; font-size: 28px; letter-spacing: 3px;"> 012-3456-7899 </span>

<pre>
Tel. <span style = "color: green; font-size: 28px; letter-spacing: 3px;"> 012-3456-7899 </span>
</pre>

<h3> Tag that becomes an inline element </h3>

Other than the span tag, the following tags are inline elements by default.

<ul class = "list">
  <li> <a href="/blog/20200222082049.html"> a tag</a> </li>
  <li> <a href="/blog/20200221093554.html"> b tag</a> </li>
</ul>

<pre>
<ul class = "list">
  <li> <a href="/blog/20200222082049.html"> a tag</a> </li>
  <li> <a href="/blog/20200221093554.html"> b tag</a> </li>
</ul>
</pre>

<h4> a tag does not work in height or width </h4>

If the height or width doesn't work for the a tag, it's because the a tag is an inline element. In that case, use "display: block;" to make it a block element.

<ul>
  <li> <a href="/" style="display:block;width:100%;background:yellow;"> button created with a tag 1</a> </li>
  <li> <a href="/" style="display:block;width:100%;background:pink;"> button made with a tag 2</a> </li>
</ul>

<pre>
<ul>
  <li> <a href="/" style="display:block;width:100%;background:yellow;"> button created with a tag 1</a> </li>
  <li> <a href="/" style="display:block;width:100%;background:pink;"> button made with a tag 2</a> </li>
</ul>
</pre>