<h2> Pre tag wraps and breaks characters </ h2>

By default, the pre tag does not break characters. To wrap the character at the right end, specify "pre-wrap" for "white-space" in CSS. Beyond on the right side, if the characters pop out, it looks bad, so let's adjust it.

<pre>
pre {
   white-space: pre-wrap;
}
</ pre>

<h2> I want to start a new line in character units </ h2>

If you want to start a new line in character units instead of word units, set "break-all" in CSS "word-break" in addition to the above. You can eliminate the situation where a very long character string pops out to the right.

<pre>
pre {
   white-space: pre-wrap;
   word-break: break-all;
}
</ pre>