<h2> [HTML5] HTML character code </ h2>

When writing HTML, specify the HTML character code with the <a href="/blog/20200224112719.html"> meta </a> tag.

You can specify the character code with "meta charset". Write HTML in UTF-8, and use the meta tag charset to write the character code UTF-8, which is the de facto standard for the Web.

<pre>
<meta charset = "UTF-8">
</ pre>

<h3> How do you specify the JavaScript character code? </ H3>

When loading JavaScript, the JavaScript character code is considered to be the same as the HTML character code. Therefore, there is no need to specify it specially.

<h3> Does CSS need to specify the character code? </ H3>

Yes. Please refer to the following articles for the character code of CSS.

<a href="/blog/20200413134139.html"> Style sheet (CSS) character code </a>