<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200427085612.html">
        <span itemprop = "name"> CSS </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200426085612.html">
        <span itemprop = "name"> selector </ span>
      </a>
      <meta itemprop = "position" content = "3" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> Child Selector-Introduction to CSS [CSS3 compatible] </ h2>

<b> Child selector </ b> is a parent-child relationship <a href="/blog/20200423134429.html"> ID selector </a>, <a href= It is a function that can be specified using "/blog/20200422134429.html"> class selector </a> and <a href="/blog/20200421134429.html"> element selector </a>.

In the following example, ".food> ul" specifies "ul" which is a direct child of ".food". The specification ".food> ul> li" specifies "li" which is a direct child of "ul" which is a direct child of ".food".

Note that unlike <a href="/blog/20200423141506.html"> Descendant Selector </a>, only direct children are targeted.

<style>
  .food> ul {
    border: 1px solid #ddd;
  }
  .food> ul> li {
    color: red;
    list-style: none;
    padding-left: 5px;
  }
</ style>

<div class = "food">
  <ul>
    <li> Yakiniku </ li>
    <li> Salad </ li>
    <li> Udon </ li>
  </ ul>
</ div>

<pre>
<style>
  .food> ul {
    border: 1px solid #ddd;
  }
  .food> ul> li {
    color: red;
    list-style: none;
    padding-left: 5px;
  }
</ style>

<div class = "food">
  <ul>
    <li> Yakiniku </ li>
    <li> Salad </ li>
    <li> Udon </ li>
  </ ul>
</ div>
</ pre>