<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200427085612.html">
        <span itemprop = "name"> CSS </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> letter-spacing --Set character spacing --Introduction to CSS [CSS3 compatible] </h2>

To <b> set the character spacing </b>, specify "letter-spacing" in the style sheet (CSS).

<div> Character spacing 0px </div>
<div style = "letter-spacing: 1px;"> Character spacing 1px </div>
<div style = "letter-spacing: 2px;"> Character spacing 2px </div>
<div style = "letter-spacing: 3px;"> Character spacing 3px </div>

<pre>
<div> Character spacing 0px </div>
<div style = "letter-spacing: 1px;"> Character spacing 1px </div>
<div style = "letter-spacing: 2px;"> Character spacing 2px </div>
<div style = "letter-spacing: 3px;"> Character spacing 3px </div>
</pre>

<h3> Effect of widening character spacing </h3>

The effect of widening the character spacing is that the spacing opens horizontally, which increases the area of ​​the character area. In other words, the part with the wider character spacing is more noticeable than the one with the smaller character spacing.

<b> Character spacing </b>, <a href="/blog/20200227082258.html"> Font size</a>, <a href="/blog/20200331101526.html"> Bold</a>, Color You can create a good contrast by combining the darkness of.

<br>
<div style = "font-size: 16px; color: # 333;"> Character spacing: 0px Font size: 16px Color: # 333 </div>
<br>
<div style = "font-size: 22px; color: # 111; letter-spacing: 1px; font-weight: bold;"> Character spacing: 1px Font size: 22px Color: # 111 Bold </div>
<br>
<div style = "font-size: 28px; color: # 000; letter-spacing: 3px; font-weight: bold;"> Character spacing: 3px Font size: 26px Color: # 000 Bold </div>

<pre>
<div style = "font-size: 16px; color: # 333;"> Character spacing: 0px Font size: 16px Color: # 333 </div>

<div style = "font-size: 22px; color: # 111; letter-spacing: 1px; font-weight: bold;"> Character spacing: 1px Font size: 22px Color: # 111 Bold </div>

<div style = "font-size: 28px; color: # 000; letter-spacing: 3px; font-weight: bold;"> Character spacing: 3px Font size: 26px Color: # 000 Bold </div>
</pre>