<style>
  li {list-style: none}
</ style>
<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200427085612.html">
        <span itemprop = "name"> CSS </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> Selector-Introduction to CSS [CSS3 compatible] </ h2>

<ul>
  <li> <a href="/blog/20200411134139.html"> *-Universal selector </a> </ li>
  <li> <a href="/blog/20200422134429.html"> Class Selector </a> </ li>
  <li> <a href="/blog/20200417134429.html"> ID selector </a> </ li>
  <li> <a href="/blog/20200421134429.html"> Element selector </a> </ li>
  <li> <a href="/blog/20200423141506.html"> Descendant Selector </a> </ li>
  <li> <a href="/blog/20200420134429.html"> Child selector </a> </ li>
  <li> <a href="/blog/20200424150524.html"> Multiple selectors </a> </ li>
  <li> <a href="/blog/20200419150524.html"> Brother Selector </a> </ li>
</ ul>