<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200427085612.html">
        <span itemprop = "name"> CSS </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200429173137.html">
        <span itemprop = "name"> Pseudo class </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> visited pseudo-class --Introduction to CSS [CSS3 compatible] </ h2>

The visited pseudo-class is a pseudo-class for styling visited links. Used in combination with <a href="/blog/20200222082049.html"> a tag </a>.

<style>
  a: visited {
    color: red;
  }
</ style>

<a href="/"> Visited links </a>

<pre>
<style>
  a: visited {
    color: red;
  }
</ style>

<a href="/"> Visited links </a>
</ pre>

<h3> How to make it the same color as the original link? </ H3>

<a href="/blog/20200424150524.html"> Specify multiple CSS at once </a> or use inherit.

<pre>
  / * Specify multiple CSS at once * /
  a, a: visited {
    color: red;
  }
  
  / * Inherit colors using inherit * /
  a {
    color: red;
  }
  a: visited {
    color: inherit;
  }
</ pre>