<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> Introduction to HTML --Carefully selected and introduced HTML tags used in HTML5 practice </ h3>

We will introduce carefully selected HTML tags used in the practice of HTML5.

<ul>
  <li> <a href="/blog/20200205092826.html"> HTML5 DOCTYPE declaration </a> </ li>
  <li> <a href="/blog/20200412134139.html"> HTML character code </a> </ li>
  <li> <a href="/blog/20200204092826.html"> html tag-where to write HTML </a> </ li>
  <li> <a href="/blog/20200202092826.html"> head tag-where to write the HTML header </a> </ li>
  <li> <a href="/blog/20200203092826.html"> body tag-where to write HTML content </a> </ li>
  <li> <a href="/blog/20200210075731.html"> title tag-write a title </a> </ li>
  <li> <a href="/blog/20200224112719.html"> meta tag-page meta information </a> </ li>
  <li> <a href="/blog/20200220091414.html"> Heading tag --h1, h2, h3, h4, h5, h6 </a> </ li>
  <li> <a href="/blog/20200221093554.html"> b tag-make the text bold </a> </ li>
  <li> <a href="/blog/20200222082049.html"> a tag-create a hyperlink </a> </ li>
  <li> <a href="/blog/20200226082049.html"> div tag --Create block element </a> </ li>
  <li> <a href="/blog/20200302092656.html"> span tag-creating inline elements </a> </ li>
  <li> <a href="/blog/20200321181042.html"> table tag-create a table </a> </ li>
  <li> <a href="/blog/20200315094150.html"> tr tag-create a table row </a> </ li>
  <li> <a href="/blog/20200314094150.html"> td tag-create table items </a> </ li>
  <li> <a href="/blog/20200311095039.html"> th tag-create table item headings </a> </ li>
  <li> <a href="/blog/20200325090741.html"> br tag --Line break </a> </ li>
  <li> <a href="/blog/20200301092656.html"> p tag-create a paragraph </a> </ li>
  <li> <a href="/blog/20200307145137.html"> ul tag-create an unnumbered list </a> </ li>
  <li> <a href="/blog/20200305145137.html"> ol tag-Create a numbered list </a> </ li>
  <li> <a href="/blog/20200306145137.html"> li tag-create a list item </a> </ li>
  <li> <a href="/blog/20200330092718.html"> style tag-describe a style sheet (CSS) </a> </ li>
  <li> <a href="/blog/20200329092718.html"> script tag --Write and execute JavaScript </a> </ li>
</ ul>