<h2> CSS solves the problem that the letters of the phone number turn blue on iphone / safari </ h2>

To solve the problem that the characters of the phone number turn blue on iphone / safari, enclose the phone number in a tag and set the style sheet (CSS).

<style>
   .phone a {
     color: orange;
   }
</ style>

<div class = "phone">
   <a> 03-1234-5678 </a>
</ div>

<pre>
<style>
   .phone a {
     color: orange;
   }
</ style>

<div class = "phone">
   <a> 03-1234-5678 </a>
</ div>
</ pre>

iphone / safari automatically inserts the a tag for phone numbers, so you can prevent this by inserting the a tag in advance.