<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> Web design </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200328092718.html">
        <span itemprop = "name"> HTML5 </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>
<h2> [HTML5] title tag-Write a title </h2>

You can use the title tag to describe the title.

<pre>
<title> Introduction to HTML / CSS </title>
</pre>

The title tag is described in the <a href="/blog/20200202092826.html"> head tag</a>.

<pre>
<html>
  <head>
    <title> Introduction to HTML / CSS </title>
  </head>
  <body>
    ...
  </body>
</html>
</pre>

The title is displayed as the title of the page when viewed in a browser.

Since it is displayed as a site link of search engines such as google, it is the most important as an SEO measure.

If you compare the importance of the title tag, description tag, and keyword tag numerically, think of it as "9: 1: 0".

That's how important the title is. Put your soul and heart into just one line of titles up to 32 characters.

<h3> How to add the site title to the end of the page title? </H3>

I want to add the title of the site to the end of each page.

In such cases, instead of writing HTML solidly, use HTML static construction tools, programming languages ​​and web frameworks.

<ol>
  <li> HTML static construction tool </li>
  <li> Programming languages ​​and web frameworks </li>
</ol>

The Perl seminar provides a tool called <a href="https://en.giblog.perlzemi.com/"> Giblog</a> as a static HTML construction tool.

It also shows how to use <a href="https://en.webapp.perlzemi.com/"> Perl and Mojolicious</a> as a way to use programming languages ​​and web frameworks.